curl_cffi
httpx
loguru
niquests
numpy
pillow
PySide6
PyYAML
qrcode
requests
requests-toolbelt
rich
scipy
tqdm
avmerger@https://github.com/lijunjie2232/ffmpeger/releases/download/v0.1/avmerger-0.1.0-cp313-cp313-win_amd64.whl
bilibilicore@file:third_module/bilibilicore

# dev
av
isort
black
poetry
pybind11
setuptools